

DROP TABLE IF EXISTS `consumption`;

CREATE TABLE `consumption` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `reading_month` date NOT NULL,
  `units_consumed` decimal(10,2) NOT NULL,
  `previous_units` decimal(10,2) DEFAULT '0.00',
  `bill_amount` decimal(10,2) NOT NULL,
  `reading_timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  `meter_reader_id` varchar(20) DEFAULT NULL,
  `reading_status` enum('normal','estimated','actual') DEFAULT 'actual',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`record_id`),
  UNIQUE KEY `unique_customer_month` (`customer_id`,`reading_month`),
  KEY `idx_customer_month` (`customer_id`,`reading_month`),
  KEY `idx_reading_month` (`reading_month`),
  KEY `idx_units_consumed` (`units_consumed`),
  KEY `idx_consumption_analysis` (`customer_id`,`reading_month`,`units_consumed`),
  CONSTRAINT `consumption_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumption`
--

LOCK TABLES `consumption` WRITE;
/*!40000 ALTER TABLE `consumption` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumption` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_negative_consumption` BEFORE INSERT ON `consumption` FOR EACH ROW BEGIN
    IF NEW.units_consumed < 0 THEN
        INSERT INTO fraud_flags (customer_id, reason, month, severity, anomaly_score)
        VALUES (NEW.customer_id, 'Negative consumption detected', NEW.reading_month, 'high', 95.0);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `customer_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(50) NOT NULL,
  `meter_type` enum('residential','commercial','industrial') NOT NULL,
  `connection_date` date NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `status` enum('active','inactive','suspended') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  KEY `idx_city` (`city`),
  KEY `idx_meter_type` (`meter_type`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fraud_flags`
--

DROP TABLE IF EXISTS `fraud_flags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fraud_flags` (
  `fraud_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `reason` varchar(255) NOT NULL,
  `month` date NOT NULL,
  `severity` enum('low','medium','high','critical') NOT NULL,
  `anomaly_score` decimal(5,2) DEFAULT '0.00',
  `flag_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `detected_by` varchar(50) DEFAULT 'system',
  `status` enum('open','investigating','resolved','false_positive') DEFAULT 'open',
  `resolution_notes` text,
  PRIMARY KEY (`fraud_id`),
  KEY `idx_customer_fraud` (`customer_id`),
  KEY `idx_severity` (`severity`),
  KEY `idx_month` (`month`),
  KEY `idx_status` (`status`),
  KEY `idx_fraud_analysis` (`customer_id`,`severity`,`flag_date`),
  CONSTRAINT `fraud_flags_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fraud_flags`
--

LOCK TABLES `fraud_flags` WRITE;
/*!40000 ALTER TABLE `fraud_flags` DISABLE KEYS */;
INSERT INTO `fraud_flags` VALUES (1,16,'Negative consumption detected','2024-03-01','high',95.00,'2025-11-13 06:41:46','system','open',NULL),(2,16,'Negative consumption detected','2024-05-01','high',95.00,'2025-11-13 06:41:46','system','open',NULL),(3,16,'Negative consumption detected','2024-08-01','high',95.00,'2025-11-13 06:41:46','system','open',NULL),(4,16,'Negative consumption detected','2024-11-01','high',95.00,'2025-11-13 06:41:46','system','open',NULL);
/*!40000 ALTER TABLE `fraud_flags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `fraud_risk_dashboard`
--

DROP TABLE IF EXISTS `fraud_risk_dashboard`;
/*!50001 DROP VIEW IF EXISTS `fraud_risk_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `fraud_risk_dashboard` AS SELECT 
 1 AS `customer_id`,
 1 AS `name`,
 1 AS `city`,
 1 AS `meter_type`,
 1 AS `reading_month`,
 1 AS `units_consumed`,
 1 AS `previous_units`,
 1 AS `avg_monthly_units`,
 1 AS `moving_avg_3month`,
 1 AS `fraud_score`,
 1 AS `risk_level`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `locality_average`
--

DROP TABLE IF EXISTS `locality_average`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locality_average` (
  `locality_id` int NOT NULL AUTO_INCREMENT,
  `city` varchar(50) NOT NULL,
  `avg_monthly_units` decimal(10,2) NOT NULL,
  `peak_season_units` decimal(10,2) NOT NULL,
  `off_peak_units` decimal(10,2) NOT NULL,
  `total_customers` int DEFAULT '0',
  `last_updated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`locality_id`),
  UNIQUE KEY `city` (`city`),
  KEY `idx_city_avg` (`city`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locality_average`
--

LOCK TABLES `locality_average` WRITE;
/*!40000 ALTER TABLE `locality_average` DISABLE KEYS */;
INSERT INTO `locality_average` VALUES (1,'Mumbai',450.00,650.00,350.00,25,'2025-11-13 06:41:46'),(2,'Delhi',520.00,750.00,400.00,30,'2025-11-13 06:41:46'),(3,'Bangalore',380.00,550.00,280.00,20,'2025-11-13 06:41:46'),(4,'Chennai',490.00,700.00,380.00,25,'2025-11-13 06:41:46'),(5,'Hyderabad',420.00,600.00,320.00,22,'2025-11-13 06:41:46'),(6,'Pune',400.00,580.00,310.00,18,'2025-11-13 06:41:46');
/*!40000 ALTER TABLE `locality_average` ENABLE KEYS */;
UNLOCK TABLES;


